@import "../mixins.scss";
.main{
    margin-top: $navHeight;
    display: grid;
    grid-template-columns: repeat(2,40%);
    column-gap: 10px;
    row-gap: 5px;
    padding: 10px;
    @include sm{
        grid-template-columns: repeat(3,32%);
    }
    @include md{
        grid-template-columns: repeat(5,18%);
    }
}