@import "../../mixins.scss";

.sellerRegistrationSection {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .goto {
    display: flex;

    width: 35%;
    height: 100vh;
    background: #000;
    color: white;
    align-items: center;
    justify-content: center;
    .container {
      width: 90%;
      .btndiv {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

        .go {
          width: 50%;
          height: 40px;
          background: none;
          border: 2px solid white;

          color: white;
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
  }
  .cardRegistration {
    display: flex;
    width: 65%;
    height: 100vh;
    background: $bgcolor;
    justify-content: center;
    align-items: center;
    color: black;
    overflow: scroll;
    
    .rigisterForm {
        display: flex;
        color: #000;
        flex-direction: column;
        gap: 25px;
        padding: 20px 20px;
  
        .inputField {
          width: 450px;
          height: $feildHeight;
          padding: 5px;
          padding-left: 10px;
          outline: none;
          border-radius: 5px 5px 0px 0px;
          border: none;
          background-color: rgb(218, 218, 218);
          border-bottom: 2px solid black;
          // &:focus{
          //    border-bottom: 2px solid black;
          //  }
        }
        .logindiv {
          display: flex;
          align-items: center;
          justify-content: center;
          .btn {
            height: $feildHeight;
            padding: 10px;
            background-color: #000;
            color: white;
            border: none;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-weight: bold;
            letter-spacing: 3px;
            width: 50%;
          }
        }
      }
  }
}
.cardRegistration{
    background-color: red;
}
