@import "../../../mixins.scss";

.header {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  height: $navHeight;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 0px 20px;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);

  .slogo {
    cursor: pointer;
    img {
      height: 35px;
      padding: 2px;

    }
  }
  .smenuItems {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .smenuItem {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 15px;
      color: $gray;
      font-weight: 500;
      position: relative;
      box-sizing: border-box;

      &.searchIcon {
        margin-right: 0;
      }

      svg {
        font-size: 18px;
      }
      &:hover{
        color: white;
        transition: all 0.2s ease;
      }
      &.active{
        border-bottom: 2px solid white;
        color: white;
        transition: all 0.5s ease;
      }

      cursor: pointer;
    }
  }
  .right{
    display: flex;
    gap: 20px;
    .profile{
      display: flex;
      justify-content: center;
      align-items: center;
      .user{
        width: 30px;
        height: 30px;
        color: white;
      }
    }
    button{
      box-sizing: border-box;
      border: 1px solid white;
      padding: 2px 20px;
      background: none;
      text-transform: uppercase;
      padding: 10px;
      &:hover{
        background-color: white;
        color: black;
      }
    }
  }
}